gunicorn
numpy
pandas
flask
scikit-learn
nltk
spacy==2.1.4
sumy
gensim==3.6.0
newsapi-python
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz